  <app-header></app-header>
   
  <div id="layoutSidenav">
    
    <app-sidebar></app-sidebar>

      <div id="layoutSidenav_content" style="clear: both;" class="conMenu">
          <main>
             
            <div class="col-12 mt-2">
              <div class="card">
                  <div class="card-body" id="card-body">
                    
                    <router-outlet id="outlets"></router-outlet>                      
                </div>
            </div>
          </div>
        </main>
        <i class="fas fa-chevron-up" id="chevron-up"></i>
 
    </div>
  </div>

