<div class="container"> 
  <h3>Agregar nueva categoria Legislativa</h3>
  <br>
      <form  
          id="frmPwd"
          autocomplete="=off"
          [formGroup]="frmPwd">
          
          
        <div class="row">
          
          <div class="col-md-5">
            <label for="categoria" class="txtColorTema">Nombre:</label>
            <input type="text" class="form-control" id="categoria" formControlName="categoria" style="width: 90%;">
          </div>
          
          <div class="col-md-2 my-auto py-3">
              <div class="form-check form-switch mt-2"> 
                <input class="form-check-input scale-18" type="checkbox" 
                       role="switch" id="visible" formControlName="visible">
                <label class="form-check-label px-2" for="visible">Visible</label>
              </div>
          </div>
          <div class="col-md-5 my-auto">
            <button type="button" class="btn btn-secondary"  (click)="nuevaCat()">Guardar</button>
          </div>

        </div>

      </form>
  
</div>

<ng-template #addCatLegModal let-modal class=" modalTheme">
    <div class="modal-header">
      <h5 class="modal-title txtColorTema" id="exampleModalLabel">Nueva Categoria</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"  (click)="modal.dismiss()">Cerrar</button>
      <button type="button" class="btn btn-primary" (click)="nuevaCat();">Crear</button>
    </div>
</ng-template>
