:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0dcaf0;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 202, 240;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.8rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: rgb(0, 0, 0);
  --bs-nav-bg:#212529;
  --bs-form-bg:#212529;
  --bs-form-border:#565b60;
  --bs-form-control-color:#ffffff;
  --bs-form-control-bg:#2a2f34;
  --bs-form-control-opcional:#404346;
  --bs-form-control-border:#4d5054;
  --bs-datepicker-bg:#999999;
  --bs-form-control-disabled:#545454;
  --bs-primary-border-hover:#0fcff5;
  --bs-primary-shadow:rgba(7, 152, 181, 0.5);
  --bs-primary-disabled:#0cadcd;
  --bs-form-control-placeholder:#cccccc;
  --m-menu1-bg: #212529;
  --m-menu1-bg-hover: #585858;
  --m-menu2-bg: #2a2f34;
  --m-menu2-bg-hover: #626262;
  --m-menu3-bg: #32393f;
  --m-menu3-bg-hover: #6c6c6c;
  --m-menu4-bg: #3b424a;
  --m-menu4-bg-hover: #757575;
  --m-menu-txt-hover: rgb(255, 255, 255);  
  --m-menu-txt-a: #919191;
  --bs-breadcrumb-divider : #cccf9b;
  --bs-card-header : #575757;
  --bs-primary-alpha:rgba(13,202,240,0.5);
  --bs-subtable-bg:#707070;
  --bs-accordion-bg:#0dcaf0;
  --bs-accordion-color:#ffffff;
  --bs-accordion-not-bg:#3b424a;
  --bs-accordion-not-color:#ffffff;
  --table-hover-bg:rgba(255, 255, 255, 0.199);
  --table-hover-color:#eeeeee;

  --bs-txt-color:#fcfafa;
  --bs-bg-loader:#000000;
}

 