:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.8rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #FFFFFF;
  --bs-body-bg: #FFFFFF;
  --bs-nav-bg:#bfd7ed;
  --bs-form-bg:#f1f6fa;
  --bs-form-border:#cee1f1;
  --bs-form-control-color:#000000;
  --bs-form-control-bg:#deeaf6;
  --bs-form-control-opcional:#b7cee1;
  --bs-form-control-border:#b1c3d5;
  --bs-datepicker-bg:#dbdbdb;
  --bs-form-control-disabled:#c1d4e7;
  --bs-primary-border-hover:#0557d3;
  --bs-primary-shadow:rgba(0, 46, 195, 0.5);
  --bs-primary-disabled:#0557d3;
  --bs-form-control-placeholder:#333333;
  --m-menu1-bg: #BFD7ED;
  --m-menu1-bg-hover: #cbdef0;
  --m-menu2-bg: #cee1f1;
  --m-menu2-bg-hover: #dae8f4;
  --m-menu3-bg: #deeaf6;
  --m-menu3-bg-hover: #e9f1f9;
  --m-menu4-bg: #edf4fa;
  --m-menu4-bg-hover: #f9fbfd;
  --m-menu-txt-hover: rgb(10, 95, 233);
  --m-menu-txt-a: #424242;
  --bs-breadcrumb-divider : #cccf9b;
  --bs-primary-alpha:rgba(13,110,253,0.5);
  --bs-subtable-bg:#e5e0e0;
  --bs-accordion-bg:#0d6efd;
  --bs-accordion-color:#ffffff;
  --bs-accordion-not-bg:#edf4fa;
  --bs-accordion-not-color:#000000;
  --bs-table-striped-bg:rgb(0 0 0 / 8%);
  --table-hover-bg:rgba(0, 0, 0, 0.075);
  --table-hover-color:#212529;

  --bs-txt-color:#181818;
}
.table .form-select,.form-select, .dataTable-selector{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

 