<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-titles breadcrumb">
    <div class="col align-self-center">
        <p class="text-themecolor">{{ titulo }}</p>
    </div>
  </div>

<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
