<form id="perfil_Form" class="w-50 mx-auto">

    <img [src]="imgUrl" class="w-50 w-lg-25 mx-auto mb-4 d-block rounded-circle">
    <input type="file"> 
    <button type="button"></button>


    <div class="row mb-4">
      <div class="col">
        <div class="form-floating">
          <input type="text" id="perfil_Nombre" class="form-control" placeholder="Nombre"/>
          <label for="perfil_Nombre">Nombre</label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-floating">
          <input type="text" id="perfil_Pais" class="form-control"  placeholder="Pais"/>
          <label for="perfil_Pais">País</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" id="perfil_Estado" class="form-control"  placeholder="Estado"/>
          <label for="perfil_Estado">Estado</label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-floating">
          <input type="text" id="perfil_Departamento" class="form-control"  placeholder="Departamento"/>
          <label for="perfil_Departamento">Departamento</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" id="perfil_Area" class="form-control"  placeholder="Área"/>
          <label for="perfil_Area">Área</label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-floating">
          <input type="text" id="perfil_VPN" class="form-control"  placeholder="VPN"/>
          <label for="perfil_VPN">VPN</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="email" id="perfil_Email" class="form-control" placeholder="Email"/>
          <label for="perfil_Email">Email</label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-floating">
          <input type="text" id="perfil_Telefono" class="form-control" placeholder="Teléfono"/>
          <label for="perfil_Telefono">Teléfono</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" id="perfil_Numero" class="form-control" placeholder="Numero de empleado" disabled value=""/>
          <label for="perfil_Numero">Número de Empleado</label>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-primary mb-4">Guardar</button>
    </div>
  </form>
