 
BODY{
    background-color: #000;
    color: rgb(255, 255, 255);
    padding: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Animaciones mas rapidas */
.fast{
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.hide{
    display: none;
}
.hand{
    cursor: pointer;
}



 







